/* MainPage.css */

/* Center the header text using flexbox */
header {
  display: flex;
  align-items: center;
  height: 100px; /* Set the height to adjust the vertical position */
  background-color: #f9f9f9;
}
.main-page-container {
  /* Add styles for centering the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the page takes up at least the full viewport height */
}

header h1 {
  font-size: 32px;
  font-weight: bold;
}
.avatar-item {
  margin: 10px;
}
.avatar-logo-item {
  margin: 10px;
}

.avatar-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner {
  /* Set the width and height of your banner */
  width: 100%; /* You can adjust the width as needed */
  height: 100px; /* You can adjust the height as needed */
  display: flex;
  justify-content: center; /* This centers the content horizontally */
  align-items: center; /* This centers the content vertically */
}

.centered-text {
  /* You can add additional styles for the text if needed */
  text-align: center; /* This centers the text within the header */
}
